<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shuhag.teaminfo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/collaboration"
        android:label="Android Lover"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Anisur" />
        <activity android:name=".Momo" />
        <activity android:name=".Joty" />
        <activity android:name=".Tasnim"></activity>
    </application>

</manifest>